h1,h2,h3,h4,h5,h6{
    font-family: futura-pt, sans-serif;
}


 

/* .home{overflow:hidden} */

a:hover{
    text-decoration: underline;
}

a{
    text-decoration: underline solid transparent;
    transition: text-decoration 0.3s ease;
}

.logo{
    font-family: poleno, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size:3.125vw;
    float: left;
    margin-left: 5.573vw;
    margin-top: 1.667vw;
    margin-bottom: 0;
    line-height: 100%;
    color: #65433D;
}

.logo:hover{
    transform: scale(1.1)
}



.footer{
    padding-left:5vw;
    margin-top:2vw;
}

.footerLeft{
    margin-top:0.5vw;
}

.footerTextLeft{
    font-size:1vw;
    margin-left:7vw;
    margin-top:0.5vw;
    margin-bottom:0vw;
}

.footerTextMiddle{
    font-size:1vw;
    text-align: center;
}

.footerMiddle{
    margin-top:0.5vw;
    margin-right:0; 
    margin-left:0;
}

.footerDivIcon{
    padding-left:7vw;
}

.footerIcon{
    width:3vw;
    margin-top: 1.5vw;
    margin-left: 1vw;
    color:#3B332E;
}



.mainBody{
    margin-top:7vw;
}


.yogurtPlainShop{
    width:14.792vw;
    align-content: center;
    margin-left:5.5vw;
    margin-top: -1vw;
}

.yogurtBlueShop{
    width:15.188vw;
    align-content: center;
    margin-left:5vw;
    margin-top: -1vw;
}

.yogurtMangoShop{
    width:15.792vw;
    align-content: center;
    margin-left:5vw;
    margin-top: -0.5vw;
}

.shopItem1{
    margin-left:0;
}

.yogurtShopBigText{
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 3vw;
    font-style: normal;
    line-height: 100%;
    margin-left:4vw;
}

.shopInfo{
    margin-top:3vw;
    margin-left:0;
}

button{
    border: none;
}

.shopInfoTitle{
    line-height: 10px;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2vw;
    display: inline;
    color: #3B332E;
    opacity: 0.5;
    margin-right: 2vw;
}

.underLine{
    text-decoration: underline;
}

.active{
    opacity: 1;
}

.shopInfoText{
    margin-top:1.5vw;
    font-family: roboto, sans-serif;
    font-weight: 400;
    margin-left: 1.5vw;
}


.about{
    position: relative;
    margin-top:-75px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    margin-left: 1.5vw;
}

.hidden{
    display:none;
}

.weddingPhoto{
    width:29.708vw;
    margin-left: 4vw;
    margin-right: 2.969vw;
}

.catering{
    margin-top:1.5vw;
}

.cateringTitle{
    color: #3B332E;
    margin-left: -1.7vw;
    font-size: 2.5vw;
    font-weight: 400;
    display: inline;
    white-space: nowrap;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: 0.05vw;
}

.cateringText{
    margin-top:1.5vw;
    margin-left:-1.5vw;
}

input, textarea{
    margin-top:2vw;
}

.cowPhoto{
    width:26.354vw;
    padding-left:7.604vw;
    margin-top:2vw;
}

.veganTitle{
    margin-top:3vw;
    margin-bottom:4vw;
    font-size: 3.2vw;
    margin-left:-1.5vw;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: 0.05vw;
}

.veganText{
    margin-right:10.313vw;
    margin-left:2vw;
    font-size: 1vw;
    margin-top:2vw;
}

.veganTitleRev{
    margin-top:4vw;
    font-size: 3.2vw;
    margin-bottom:4vw;
    margin-left:8.0vw;
    font-weight: 200;
    text-align: center;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: 0.05vw;
}

.veganTextRev{
    margin-left:10.313vw;
    margin-right:2vw;
    font-size: 1vw;
    margin-top:2vw;
    text-align: right;
}


 
@media (orientation: portrait) {

    .burgerOpen{
        position: fixed;
    }

    .burgerClosed{
        position: absolute;
    }

    .footer{
        display:none;
    }

    hr, .logo{
        display:none;
    }

    .navigation {
        display: block;
        color: black;
        position: relative;
        text-align: center; /* Centered text/links */
        margin-top: 9vh; /* 30px top margin to avoid conflict with the close button on smaller screens */
      }
      
      

    .overlay {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */   
        height: 0;
        width: 100%;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(255,255,255); /* Black fallback color */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.15s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
      }

      .navLinks{
        font-family: futura-pt, sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 5vh;
        margin-bottom: 15vh;
        list-style-type: none;
        margin-right:3.646vw;
        color: #3B332E;
        text-transform: uppercase;
    }

    .basket{
        width: 6vh;
    }

    @media (max-width: 575.98px) { 


    }

    @media (min-width: 576px) and (max-width: 767.98px) { 

    }

    @media (min-width: 768px) and (max-width: 991.98px) {

        .footer{
            display:none;
        }

        .imageMid{
            width: 100%;
            margin: auto;
            margin-top:-5vw;
            display: block;
            position: relative;
            z-index: -1;
        }

        .topSVG{
            height: 8vw;
            width: 60.458vw;
            margin-top:13.926vw;
            margin-left:19.671vw;
            display: block;
        }

        .bottomSVG{
            height:5vw;
            width:60.458vw;
            margin-left:19.6vw;
        }

        .yogurt{
            position: absolute;
        }


        .plain{
            margin-left: 30vw;
            width: 40.271vw;
            margin-top:17.889vw;
        }

        .blue{
            margin-left:37.490vw;
            width:55.677vw;
            margin-top:4.889vw;
        }

        .mango{
            margin-left:6vw;
            width:55.677vw;
            margin-top:4.889vw;
        }

        .footer{
            position: absolute;
            bottom:0;
        }

        .footerLeft{
            margin-top:0.5vw;
        }

        .footerTextLeft{
            font-size:1vw;
            margin-left:7vw;
            margin-top:0.5vw;
            margin-bottom:0vw;
        }

        .footerTextMiddle{
            font-size:1vw;
            text-align: center;
        }

        .footerMiddle{
            margin-top:0.5vw;
            margin-right:0; 
            margin-left:0;
        }

        .footerDivIcon{
            padding-left:7vw;
        }

        .footerIcon{
            width:3vw;
            margin-top: 1.5vw;
            margin-left: 1vw;
            color:#3B332E;
        }

        .burgerOpen{
            bottom: 9vh;
            right: 7vh;
            width: 100px;
        }

        .burgerClosed{
            bottom: 9vh;
            right: 7vh;
            width: 100px;
        }
    }

    @media (min-width: 992px) { 

        .imageMid{
            width: 100%;
            margin: auto;
            margin-top:-5vw;
            display: block;
            position: relative;
            z-index: -1;
        }

        .topSVG{
            height: 8vw;
            width: 60.458vw;
            margin-top:13.926vw;
            margin-left:19.671vw;
            display: block;
        }

        .bottomSVG{
            height:5vw;
            width:60.458vw;
            margin-left:19.6vw;
        }

        .yogurt{
            position: absolute;
        }


        .plain{
            margin-left: 30vw;
            width: 40.271vw;
            margin-top:17.889vw;
        }

        .blue{
            margin-left:37.490vw;
            width:55.677vw;
            margin-top:4.889vw;
        }

        .mango{
            margin-left:6vw;
            width:55.677vw;
            margin-top:4.889vw;
        }

        .footer{
            position: absolute;
            bottom:0;
        }

        .footerLeft{
            margin-top:0.5vw;
        }

        .footerTextLeft{
            font-size:1vw;
            margin-left:7vw;
            margin-top:0.5vw;
            margin-bottom:0vw;
        }

        .footerTextMiddle{
            font-size:1vw;
            text-align: center;
        }

        .footerMiddle{
            margin-top:0.5vw;
            margin-right:0; 
            margin-left:0;
        }

        .footerDivIcon{
            padding-left:7vw;
        }

        .footerIcon{
            width:3vw;
            margin-top: 1.5vw;
            margin-left: 1vw;
            color:#3B332E;
        }

        .burgerOpen{
            bottom: 9vh;
            right: 7vh;
            width: 130px;
        }

        .burgerClosed{
            bottom: 9vh;
            right: 7vh;
            width: 130px;
        }
        
    }
}



@media (orientation: landscape) {

    .burgerClosed, .burgerOpen{
        display: none;
    }

    .navbar{
        transition: all 0.2s ease-in-out;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 1;
    }
    
    .navigation{
        text-align: right;
        list-style-type: none;
        margin-right:4.167vw;
        margin-top: 1.354vw;
        margin-bottom:0;
        padding-right: 0;
    }
    
    .navLinks{
        display: inline;
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.188vw;
        margin-right:3.646vw;
        color: #3B332E;
    }
    
    .basket{
        height: 2.188vw;
        line-height: 100%;
        margin-bottom: -0.5vw;
    }
    
    nav{
        position: relative;
    }
    
    hr{
        margin-bottom:0vw;
        position: relative;
        margin-top:6px;
        margin-right: 5.208vw;
        margin-left: 5.208vw;
        color: #3B332E !important;
        background-color: #3B332E !important;
    }
    
    
    .hrShop{
        margin-bottom:1vw;
    }
    
    .hrFooter{
        margin-bottom:1vw;
        margin-top:0vw;
    }

    @media (max-width: 575.98px) { 

    }

    @media (min-width: 576px) and (max-width: 767.98px) {  

    }

    @media (min-width: 768px) and (max-width: 991.98px) {

        .imageMid{
            margin-top:-3vw;
            width: 75.573vw;
            margin-left: 11vw;
            display: block;
            position: relative;
            z-index: -1;
        }

        .topSVG{
            height: 6vw;
            width: 41.458vw;
            margin-top:9.926vw;
            margin-left:28.671vw;
            display: block;
        }

        .bottomSVG{
            height:5.5vw;
            width:50.458vw;
            margin-top:35.926vw;
            margin-left:25.271vw;
            display: block;
        }

        .yogurt{
            position: absolute;
        }


        .plain{
            margin-left: 34vw;
            width: 30.271vw;
            margin-top:13.889vw;
        }

        .blue{
            margin-left:37.490vw;
            width:45.677vw;
            margin-top:1.889vw;
        }

        .mango{
            margin-left:16vw;
            width:45.677vw;
            margin-top:1.889vw;
        }

    }

    @media (min-width: 992px) and (max-width: 1199.98px) { 
        .imageMid{
            margin-top:-3vw;
            width: 75.573vw;
            margin-left: 11vw;
            display: block;
            position: relative;
            z-index: -1;
        }

        .topSVG{
            height: 6vw;
            width: 41.458vw;
            margin-top:9.926vw;
            margin-left:28.671vw;
            display: block;
        }

        .bottomSVG{
            height:5.5vw;
            width:50.458vw;
            margin-top:35.926vw;
            margin-left:25.271vw;
            display: block;
        }

        .yogurt{
            position: absolute;
        }


        .plain{
            margin-left: 34vw;
            width: 30.271vw;
            margin-top:13.889vw;
        }

        .blue{
            margin-left:37.490vw;
            width:45.677vw;
            margin-top:1.889vw;
        }

        .mango{
            margin-left:16vw;
            width:45.677vw;
            margin-top:1.889vw;
        }

    }

    @media (min-width: 1200px) and (max-width: 1919.98px) {

        .imageMid{
            margin-top:-3vw;
            width: 75.573vw;
            margin-left: 11vw;
            display: block;
            position: relative;
            z-index: -1;
        }

        .topSVG{
            height: 6vw;
            width: 41.458vw;
            margin-top:9.926vw;
            margin-left:28.671vw;
            display: block;
        }

        .bottomSVG{
            height:5.5vw;
            width:50.458vw;
            margin-top:35.926vw;
            margin-left:25.271vw;
            display: block;
        }

        .yogurt{
            position: absolute;
        }


        .plain{
            margin-left: 34vw;
            width: 30.271vw;
            margin-top:13.889vw;
        }

        .blue{
            margin-left:37.490vw;
            width:45.677vw;
            margin-top:1.889vw;
        }

        .mango{
            margin-left:16vw;
            width:45.677vw;
            margin-top:1.889vw;
        }
        
    }

    @media (min-width: 1920px){


        .imageMid{
            margin-top:-3vw;
            width: 55.573vw;
            margin-left: 21vw;
            display: block;
            position: relative;
            z-index: -1;
        }

        .topSVG{
            height: 5vw;
            width:31.458vw;
            margin-top:9.926vw;
            margin-left:33.671vw;
            display: block;
        }

        .bottomSVG{
            height:4vw;
            width:39.458vw;
            margin-top:35.926vw;
            margin-left:30.271vw;
            display: block;
        }

        .yogurt{
            position: absolute;
        }


        .plain{
            margin-left: 37.656vw;
            margin-right: 38.073vw;
            width: 24.271vw;
            margin-top:8.889vw;
        }

        .blue{
            margin-left:41.490vw;
            width:35.677vw;
            margin-top:0.889vw;
        }

        .mango{
            margin-left:22vw;
            width:35.677vw;
            margin-top:0.889vw;
        }

        .footer{
        width: 25.573vw;
        }
    }
}